---
import GitHub from "./icons/GitHub.astro";

interface Props {
  image: {
    src: string;
    alt: string;
  };
  title: string;
  description: string;
  technologies: string[];
  gitHub?: string;
  url?: string;
}

const { image, title, description, technologies, gitHub, url } = Astro.props;

import { useTranslations, getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(new URL(Astro.url));
const t = useTranslations(lang);
---

<div
  class="group flex flex-col h-full gap-4 p-4 md:p-8 md:gap-8 rounded-md border border-stone-300 hover:shadow-md transition-all bg-white max-w-[360px] md:max-w-[420px]"
  data-aos="fade-up"
  data-aos-duration="800"
>
  <div>
    <div class="aspect-video rounded-md overflow-hidden bg-stone-50">
      <img
        class="w-full h-full object-cover project-img transition-transform duration-300"
        src={image.src}
        alt={image.alt}
      />
    </div>
  </div>
  <div class="flex flex-col flex-1 gap-4">
    <h3 class="text-xl font-bold group-hover:text-stone-900 transition-colors">
      {title}
    </h3>
    <p class="text-stone-600 text-sm flex-1">{description}</p>
    <div>
      <ul class="inline-flex flex-wrap gap-2">
        {
          technologies.map((tech) => (
            <li class="border border-stone-300 font-bold text-xs rounded-md px-2.5 py-0.5 hover:bg-stone-50 transition-colors">
              {tech}
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex text-sm font-medium justify-between">
      {
        url && (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="group/link inline-flex items-center gap-2 rounded-md border bg-stone-600 text-white px-3 py-0.5 md:px-4 md:py-1 hover:bg-stone-50 transition-colors"
          >
            <span class="group-hover/link:text-stone-900 transition-colors">
              {t("projects.demo")}
            </span>
          </a>
        )
      }
      <a
        href={gitHub}
        target="_blank"
        rel="noopener noreferrer"
        class="group/link inline-flex items-center gap-2 rounded-md border bg-stone-600 text-white px-3 py-0.5 md:px-4 md:py-1 hover:bg-stone-50 transition-colors"
      >
        <span class="transition-transform group-hover/link:text-stone-600">
          <GitHub />
        </span>
        <span class="group-hover/link:text-stone-900 transition-colors"
          >GitHub</span
        >
      </a>
    </div>
  </div>
</div>
